langdetect  
langchain
streamlit
langcodes
cohere
langchain==0.3.0
langchain-cohere==0.3.0
langchain-community==0.3.0
langchain-core==0.3.1
langchain-experimental==0.3.0
langchain-text-splitters==0.3.0
